<footer class="footer">
    <div class="left">
        <ul>
            <li>Front-End Developer: <a href="https://www.instagram.com/emresaritas._/" target="_blank">Muhammed Emre Sarıtaş</a></li>
            <li>Front-End Designer: <a href="https://www.instagram.com/altinokdnz/" target="_blank">Deniz Altınok</a></li>
            <li>Project Administrator: <a href="https://www.github.com/FMudanyali/" target="_blank">Furkan Mudanyalı</a></li>
            <li>Database Designer: <a href="https://www.instagram.com/itsmemir1/" target="_blank">Emir Öztürk</a></li>
            <li>Back-End Developer: <a href="https://www.instagram.com/alperenerilmez/" target="_blank">Alperen Erilmez</a></li>
        </ul>
    </div>
    <div class="right">
            This website is a school project for Software Engineering course. Fedea is a group of students who major in computer engineering.
            <center>
            <a href="https://github.com/khasfedea" class="footer-additional-link">Source Code</a><br/>
            <a href="https://fedea.games/docs" class="footer-additional-link">Document</a>
            </center>
    </div>
</footer>
