<div class="post">
    <div class="poster">
        <div class="identification">
            <img src=kek />
            <h4>Name</h4>
            <h4>Student ID</h4>
        </div>
        <h4>Timestamp</h4>
    </div>
    <div class="content">
        <p>lorem ipsum ebenin ami</p>
        <img src=kek />
        <div class="likes">
            <h4>Like</h4>
            <h4>555</h4>
            <h4>Comment</h4>
            <h4>2</h4>
        </div>
    </div>
    <div class="messages">
        <div class="message">
            <div class="poster">
                <div class="identification">
                    <img src=kek />
                    <h4>Name</h4>
                    <h4>Student ID</h4>
                </div>
                <h4>Timestamp</h4>
            </div>
            <div class="content">
                i hate the antichrist
            </div>
            <div class="likes">
                <h4>Like</h4>
                <h4>1222</h4>
            </div>
        </div>
    </div>
    <div class="post-message">
        <textarea></textarea>
        <button>Send</button>
    </div>
</div>