html {
    font-family: sans-serif;
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    align-content: center;
    background-color: rgb(28, 53, 78);
}
.post-window .identification, .post .poster .identification, .message .poster .identification,
.message-pane .identification, .friends .identification, .sent .top-row, .received .top-row,
.user-portfolio .portfolio-identification {
    word-break: break-all;
}
.footer-additional-link {
    color: rgb(255, 127, 53) !important;
}
body {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0.5em;
    box-sizing: border-box;
    overflow-x: hidden;
    width: 70%;
    min-height: 100vh;
    background-color: rgb(217, 236, 255);
}
@media screen and (min-width: 1550px){
    body {
        width: 60%;
    }
}
.login-container {
    padding-bottom: 10rem;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    align-items: stretch;
}
.login-left, .login-right {
    flex-basis: 100%;
    border: 1px solid black;
    border-radius: 5px;
    padding: 1em;
    margin: 1em;
    background-color: white;
}
.login-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.login-right table {
    border-spacing: 15px;
}
.login-toggle {
    float: left;
    text-align: right;
    text-decoration: none;
    color: dodgerblue;
}
.login-button {
    float: right;
}
.login-header {
    width: 100%;
    align-items: stretch;
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    box-sizing: border-box;
}
.login-header * {
    display: inline-block;
    margin-right: 0.5em;
}
.footer {
    align-items: center;
    justify-content: space-between;
    display: flex;
    background-color: white;
    width: 100%;
    padding: 0.5rem;
    margin: -0.5em;
    color: white;
    background-color: rgb(25, 75, 124);
    z-index: 1;
}
.footer * {
    flex-basis: 100%;
}
.footer.left, .footer.right {
    padding: 1em;
    margin: 1em;
}
.footer a {
    color: gray;
    text-decoration: none;
}
.footer ul {
    list-style-type: none;
}
.header {
    margin: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    box-sizing: border-box;
}
.search-form {
    height: 2em;
}
.header a {
    float: left;
    color: black;
    padding: 12px;
    margin: 2px;
    min-width: 80px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
}
.header .logo {
    display: flex;
    justify-content: center;
}
.header a:hover {
    background-color: #ddd;
    color: black;
}
.header a.active {
    background-color: dodgerblue;
    color: white;
}
.navigation-buttons {
    padding: 15px;
    float: right;
}
.content-image {
    max-height: 500px;
    max-width: 100%;
}
@media screen and (max-width: 800px){
    .content-image {
        width: 100%;
        max-height: 1000px;
    }
}
@media screen and (min-width: 1450px) {
    .search-form{
        min-width: 250px;
    }
}
@media screen and (max-width: 1250px) {
    .header, .login-header {
        border-radius: 5px;
        border: 1px solid black;
    }
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
    }
    .footer, .header {
        flex-direction: column;
        align-items: stretch;
    }
    body {
        width: 100%;
        margin: 0;
    }
    .login-container {
        flex-direction: column;
    }
}
@media screen and (min-width: 1250px) {
    .profile-button-dropdown:hover .dropdown-element {
        display: block;
        position: absolute;
        border-radius: 0;
        top: 40px;
        z-index: 1;
    }
    .profile-button-dropdown:hover #settings {
        top: 85px;
    }
    .profile-button-dropdown:hover #element2 {
        border-radius: 0 0 5px 5px;
        top: 125px;
    }
}
.invalid-feedback {
    font-size: 14px;
    color: red;
}
.profile-button-dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
}
.dropdown-element {
    display: none;
    background-color: white;
    margin: 0;
    padding: 0;
}
/* ----------------------- */
.post, .settings {
    border-radius: 5px;
    margin: 1em 10em 1em 10em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
}
.post .poster {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post .poster .identification {
    display: flex;
    align-items: center;
}
.post .content {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgb(241, 241, 241);
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0.5em;
    margin-bottom: 0.5em;
}
.post .content .likes {
    display: flex;
    justify-content: left;
}
.post .content .likes * {
    padding: 0.2em;
}
.post .messages {
    display: none;
    flex-direction: column;
}
.messagesVisible {
    display: flex;
}
.message {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    margin-bottom: 0.5em;
}
.message .poster {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.message .poster .identification {
    display: flex;
    align-items: center;
}
.identification * {
    margin: 0.2em;
}
.message .content {
    border: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    background-color: rgb(224, 224, 224);
    margin-top: 0.5em;
}
.message .likes {
    display: flex;
    justify-content: left;
}
.post .post-message {
    display: flex;
    flex-direction: column;
}
.avatar {
    border-radius: 10px;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}
.content-image {
    display: block;
    margin: auto;
    box-sizing: border-box;
    padding-bottom: 1em;
}
.post-window {
    box-sizing: border-box;
    margin: 1em 10em 1em 10em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
}
.post-window * {
    margin: 0.2em;
}
.post-window .post-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
textarea {
    resize: none;
    min-height: 100px;
}
.area textarea {
    min-height: 1px;
}
.post-window .identification, .post-comment .identification {
    display: flex;
    align-items: center;
}
.post-comment {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(241, 241, 241);
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding: 0.5em;
}
.post-comment .area {
    display: flex;
    justify-content: space-between;
}
.post-comment .area * {
    margin: 0.5em;
}
.post-comment .area textarea {
    width: 100%;
}
.search-field {
    display: none;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    margin: 1em 10em 1em 10em;
}
.search-visible {
    display: flex;
}
@media screen and (max-width: 1250px){
    .post, .settings, .post-window, .search-field {
        margin: 1em;
    }
}
.like-button, .add-friend {
    color: rgb(100, 100, 206);
    font-weight: bold;
}
.comment-button, .accept-friend {
    color: rgb(100, 156, 100);
    font-weight: bold;
}
.remove-button, .remove-friend {
    color: rgb(206, 100, 100);
    font-weight: bold;
}
.under-post, .under-comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.result-element {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgb(241, 241, 241);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin: 0.5em;
}
.result-element .identification {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.result-element * {
    margin: 0.25em;
}
p {
    white-space: pre-wrap;
    word-wrap: break-word;
}
.portfolio-field {
    display: flex;
    padding: 0.5em;
    box-sizing: border-box;
    border-radius: 5px;
    justify-content:space-between;
}
.friends {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0.5em;
    max-height: 26vw;
    width: 26vw;
    overflow-y: scroll;
}
.friends .identification {
    display: flex;
    align-items: center;
    background-color: rgb(241, 241, 241);
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.25em;
}
.user-portfolio {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0.5em;
    margin-right: 0.5em;
    width: 100%;
    margin-bottom: 1em;
}
.message-field {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0.5em;
    margin-bottom: 0.5em;
    overflow-y: scroll;
}
.message-field, #message-friends {
    height: 35vw;
    overflow-x: hidden;
}
.big-avatar {
    width: 200px;
    border-radius: 20px;
}
.portfolio-identification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(241, 241, 241);
    border: 1px solid gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0.5em;
    margin: 0.25em;
    margin-bottom: 0;
}
.additional-info {
    background-color: rgb(224, 224, 224);
    border: 1px solid gray;
    padding: 0 0.5em 0 0.5em;
    border-top: 0;
    margin: 0.25em;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}
.bio {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgb(224, 224, 224);
    border: 1px solid gray;
    border-top: 0;
    padding: 0.5em;
    margin: 0.25em;
    margin-top: 0;
}
.friend-button {
    float: right;
}
@media screen and (max-width: 1250px){
    .portfolio-field {
        flex-direction: column;
    }
    .user-portfolio {
        padding: 0;
    }
    .portfolio-identification h1{
        font-size: 1.25em;
    }
    .portfolio-identification h2{
        font-size: 1em;
    }
    .big-avatar {
        width: 100px;
    }
    .friends {
        margin-top: 1em;
        width: auto;
        max-height: 80vw;
    }
}
.settings {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}
.settings div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5em;
    padding: 0.25em;
}
.settings div input, .settings div textarea {
    width: 70%;
}
@media screen and (max-width: 1250px) {
    .settings div input, .settings div textarea {
        width: 50%;
    }
}
.friend-count {
    display: flex;
    justify-content: space-around;
}
.name-field {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.name-field * {
    margin: 0.2em;
}
.message-pane {
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    width: 55%;
    height: 35vw;
}
.message-pane .identification {
    border-radius: 5px;
    border: 1px solid gray;
    background-color: rgb(241, 241, 241);
    margin-bottom: 0.5em;
    display: flex;
    align-items: center;
}
.message-pane input {
    height: 30px;
}
.message-window {
    display: flex;
    padding: 0.5em;
    justify-content: space-between;
    box-sizing: border-box;
}
@media screen and (min-width: 1550px){
    .message-pane {
        width: 50%;
    }
}
@media screen and (max-width: 1250px){
    .message-pane {
        width: auto;
        height: 110vw;
    }
    .message-pane .identification {
        margin: 0.5em;
    }
    .message-window {
        padding: 0;
        flex-direction: column;
    }
    .message-field, #message-friends {
        margin: 0.5em;
        width: auto;
        height: 70vw;
    }
    .message-field {
        margin-bottom: 0.5em;
    }
    .message-pane input {
        margin: 0.5em;
    }
    #message-friends {
        order: -1;
    }
}
.sent, .received {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0.5em;
    margin: 0.25em;
    width: 70%;
    word-break: break-all;
}
.sent {
    margin-left: auto;
    background-color: rgb(241, 241, 241);
}
.received {
    float: left;
    background-color: rgb(224, 224, 224);
}
.top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}